.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    background-color: #eeeeee;
    padding: 20px;
}

.noItems {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}